:root{
    --dark-color: #030013;
    --clean-color: #fdfffc;
    --magenta-color: #e71d36;
}

* {
    margin: 0;
    padding: 0;
} 

body{
    background-color: var(--dark-color);
    font-size: 25px;
    color: var(--dark-color);
  }

a{
   font-family: 'Open Sans', sans-serif;
   color: var(--clean-color);
   text-decoration: none;
  }

 nav{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 

 .menu{
    display: flex;
 }

 nav li{
    list-style: none;
    letter-spacing: 3px;
    margin-left: 32px;
 }

 .logo{
   padding-top: 5px;
   width: 100%;
   height: 27px;
}

 aside{
    width: 100%;
 }

 .titleSection{
   margin-top: 7vh;
   font-size: 17;
   color: var(--clean-color);
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   text-align: center;
 }

 .text{
   margin-top: 4px;
   color: var(--clean-color);
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
 }
 

@media screen and (max-width: 550px) {
   .menu{
    background-color: var(--dark-color);
    box-shadow: var(--magenta-color) 1px 1px 1px;
    display: block;
    height: 0;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 40px;
    transition: 0.8s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
    font-size: 19px;

   }

   .menu li{
    margin-top: 30px;
   }

  .icone-hamburger div{
    width: 35px;
    height: 2.5px;
    background-color: var(--clean-color);
    margin: 8px;
  }
 
 .menu.open{
    height: 40vh;
    overflow-y: auto;
    position: absolute;
    display: block; 
    visibility: visible;
 }

 .subTitle{
   padding-left: 2vh;
   margin-top: 16vh;
   align-items: center;
   color: #f0f0f0;
   font-size: 25px;
   font-family: 'Open Sans', sans-serif;
 }

 .heroTitle{
   display: flex;
   font-size: 43px;
   justify-content: center;
   color: #f0f0f0;
   font-family: 'Secular One', sans-serif;
 }
 .divImg{
   margin-top: 12vh;
   margin-bottom: 30vh;
   display: flex;
   justify-content: center;
   gap: 9px;
 }

 .linkImg{
   filter: invert(100%);
   width: 40px;
 }

 .divBtn{
   margin-top: 2vh;
   display: flex;
   justify-content: center;
   align-items: center;
 } 
 
 .resumeSubmit{
   width: 320px;
   height: 50px;
   border: none;
   font-size: 18px;
   background-color: #e71d36;
   color: #020202;
   font-weight: bold;
 }
.emailResume{
   width: 300px;
   padding: 7px;
   letter-spacing: 1px;
   color: white;
   font-size: 13px;
   border: none;
   background-color: transparent;
   border-bottom: 2px solid rgb(255, 255, 255);
   margin: 10px;
}
form{
   margin-top: 8vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
::placeholder{
   font-size: 18px;
   color: #f0f0f0;
}

.carrosel{
   width: 100%;
   z-index: 1;
   display: flex;
   justify-content: center;
   overflow-x: auto;
   justify-content: start;
   scroll-snap-type: x mandatory;
   position: absolute;
   margin-bottom: 10vh;
}

.card{
    min-width: 100%;
    height: auto;
    flex: none;
    scroll-snap-align: start;
    pointer-events: none;
    scroll-behavior: smooth;
}

.arrow{
   margin-right: 10vh;
   z-index: 10;
   position: absolute;
   width: 30px;
   right: 0;
   margin-top: 6.35vh;
}

.arrow1{
   position: absolute;
   margin-left: 10.5vh;
   margin-top: 7vh;
   z-index: 10;
   width: 16.45px;
   left: 0;
}

::-webkit-scrollbar{
   background-color: transparent;
}

.textSkilss{
   margin-top: 5vh;
   color: var(--clean-color);
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}

.levelProgress{
   height: 6px;
   width: 200px;
   background-color: #504e4e;

}

.levelDiv{
   align-items: center;
   margin-top: 5vh;
   display: flex;
   justify-content: center;
   gap: 3vh;
}

.softDiv{
  width: 90%;
  align-items: center;
  text-align: center;
  background-color:#0c0c0cf1;
  font-family: 'Open Sans', sans-serif;
  margin-top: 40vh;
  color: #f0f0f0;
}

.softSection{
   display: flex;
   justify-content: center;
}
.HobbieImg{
   width: 80px;
}

.divHobbie{
   margin-top: 5vh;
   margin-bottom: 30vh;
   display: flex;
   justify-content: center;
   gap: 5vh;
 }

 .msgArea{
   resize: none;
   font-size: 20px;
   padding-left: 1vh;
   padding-top: 1vh;
   border: transparent;
   width: 310px;
   color: #f0f0f0;
   background-color: #020202;
   height: 190px;
 }

 .divArea{
   margin-top: 2vh;
   margin-bottom: 2vh;
 }

}